.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f7fbe4;
}

.ingredient-list {
  margin-top: 20px;
}

.ingredient-list input {
  padding: 8px;
  margin-right: 8px;
}

.ingredient-list button {
  padding: 8px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #f7e878;
  padding: 10px 20px;
  color: #333;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px; /* Adjust size as needed */
  margin-right: 10px; /* Spacing between logo and title */
}

.navbar-title {
  font-size: 24px;
}

.ingredient-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.selected-ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.ingredient-tag {
  background-color: #eee;
  border-radius: 12px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.remove-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-left: 5px;
}

.ingredient-dropdown {
  padding: 8px;
  font-size: 16px;
}

.recipe-display {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  width: calc(30% - 2rem);
  box-sizing: border-box;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}
